<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}


    </head>
    <body>
<style>
  #myfoot{
    font-size: 18px;
    text-align: center;
    color: lightgray;
    border-top: 1px solid saddlebrown;
    margin-top: 450px;
  }
</style>

        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}

        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">首页</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">相册</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">文章</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            IT
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">网络基础</a></li>
            <li><a class="dropdown-item" href="#">linux</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">docker</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
         {% endblock %}

        {% block content %}{% endblock %}

<!--        {% block footer %}-->
<!--    <p id="myfoot">© 1997-2022 公司版权所有 About NetEase 不良信息举报 Complaint Center | 侵权投诉 Reporting Infringements</p>-->
<!--    {% endblock %}-->

    </body>

</html>



