{% extends "user/base.html" %}

{% block content %}
<style>
        .loginForm {
            /*边框高度*/
            height: 350px;
            /*边框宽度*/
            width: 500px;
            /*边框颜色*/
            border: #4d4d4d solid 1px;
            /*边框圆角*/
            border-radius: 4px;
            /*阴影 水平方向，竖直方向，模糊距离*/
            box-shadow: 5px 5px 5px #4d4d4d;
            /*上边界距离*/
            margin-top: 50px;
            /*左边界距离：自动*/
            margin-left: auto;
            /*右边界距离：自动*/
            margin-right: auto;
            /*用户名、密码间距*/
            padding: 20px 40px;
        }

        /*将用户登录置于中间*/
        .loginForm h2 {
            text-align: center;
        }

        /*修改button属性*/
        .button {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{{msg}}

<div class = loginForm>
<form action="login" method="post" >
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput"  placeholder="用户名" name="username" >
    <label for="floatingInput" class="form-label">用户名</label>
  </div>


<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="密码" name="password">
  <label for="floatingPassword">密码</label>
</div>

  <button type="submit" class="btn btn-primary">登录</button>
</form>
</div>

{% endblock %}