{% extends 'user/base.html' %}
{% block tile %}
    用户展示中心
{% endblock %}

{% block content %}
    <h1>用户信息</h1>

<span> 当前的用户人数是： {{ users |length }}人  </span>
    <form action="user_search" method="post">
        <input type="text" name="search" placeholder="请输入用户名或者手机号码">
        <input type="submit" value="搜索" >
   </form>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">序号</th>
      <th scope="col">用户名</th>
        <th scope="col">昵称</th>
      <th scope="col">手机号</th>
      <th scope="col">注册时间</th>
	  <th scope="col">操作</th>
    </tr>
  </thead>

  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ user.username }}</td>
        <td>{{ user.show_name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.rdtime }}</td>
      <td>
          {#创建链接，发送一个get请求#}
<!--          <a href="{{ url_for('user.user_update')}}?id={{ user.id }}">修改</a>-->
<!--          <a href="{{ url_for('user.user_del')}}?id={{ user.id }}">删除</a>-->
<div class="btn-group">
  <a href="{{ url_for('user.user_update')}}?id={{ user.id }}" class="btn btn-outline-primary">修改</a>
  <a href="{{ url_for('user.user_del')}}?id={{ user.id }}" class="btn btn-outline-primary">删除</a>
  <a href="{{ url_for('article.article_show2')}}?id={{ user.id }}" class="btn btn-outline-primary">信息</a>
</div>
      </td>

    </tr>
  {% endfor %}
  </tbody>

</table>


    </table>
{% endblock %}